@font-face {
  font-family: 'neodgm';
  font-weight: normal;
  src: url('./font/neodgm.woff2') format('truetype');
}

body {
  margin: 0;
  font-family: 'neodgm', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'neodgm', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
